:root {
    --primary-font: "Merriweather", serif;
    --secondary-font: "Montserrat",
        sans-serif;
    --primary-color: #0d1b2a;
    --secondary-color: #1b263b;
    --highlight-colour: #CFA86D;
}

body {
    background: linear-gradient(90deg, hsla(211, 53%, 11%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
}

.contact-hero {
    padding: 120px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/pork-stir-fry-with-rice-noodles-and-broccolini.jpg);
}

.contact-hero h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 80px;
    color: var(--highlight-colour);

}

.contact-details {
    padding: 60px 0;
}

.details-section {
    max-width: 1000px;
}

.details {
    border: 1px solid var(--highlight-colour);
    margin: 50px 0;
    padding: 10px 30px;
    line-height: 2.5;
}

.details h2, .enquiry h2 {
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight: bolder;
    color: var(--highlight-colour);
}

.details p {
    font-family: var(--secondary-font);
    font-size: 13px;
    font-weight: 300;
    color: white;
}

.details a {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.details a:visited {
    color: white;
}

.detail-head {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    color: var(--highlight-colour);
}

.detail-body {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.box-name {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.send-button {
    margin: 10px 0;
    width: 20%;
    background-color: var(--highlight-colour);
}

.enquiry {
    margin: 50px 0;
    padding: 0 70px 30px;
}

input {
    border: 1.5px solid var(--highlight-colour);
    background-color: transparent;
    color: white;
    text-align: left;
    width: 80%;
    margin: 10px 0;
}

textarea {
    border: 1.5px solid var(--highlight-colour);
    background-color: transparent;
    color: white;
    text-align: left;
    width: 80%;
    margin: 10px 0;
}

nav {
    background-color: var(--highlight-colour);
}

nav a {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
}

.nav-container {
    margin: 0 20px;
}

.active {
    font-weight: 600;
}

#navbarNav {
    justify-content: end;
}

.closing-line {
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 400;
    color: var(--highlight-colour);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.closing-line a {
    color: white;
}

.closing-line a:hover {
    color: aqua;
    transition: all 100ms ease-in-out;
}

.closing-line a:visited {
    color: white;
}

@media (max-width:700px) {
    .contact-hero {
        padding: 100px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .contact-hero h1 {
        font-size: 50px;
    }
    
    .contact-details {
        margin: 0 20px;
    }

    .details {
        border: 1px solid var(--highlight-colour);
        margin: 20px 0;
        padding: 0 20px;
        line-height: 2.5;
    }

    .details h2,
    .enquiry h2 {
        font-size: 20px;
    }

    .enquiry {
        display: block;
        padding-left: 55px;
        margin-left: -55px;
    }

    input {
        text-align: left;
        width: 80%;
        margin: 20px 0 20px 5px;
        }
    
    textarea {
        text-align: left;
        width: 80%;
        margin: 20px 0 -35px 5px;
    }

    .send-button {
            margin: 50px 5px;
            padding: 0 2px;
            width: 20%;
    }

    .nav-container {
        margin: 0;
    }

    .closing-line {
        font-size: 12px;
        margin: 20px 0;
    }
}