:root {
    --primary-font: "Merriweather", serif;
    --secondary-font: "Montserrat",
        sans-serif;
    --primary-color: #0d1b2a;
    --secondary-color: #1b263b;
    --highlight-colour: #CFA86D;
}

body {
    background: linear-gradient(90deg, hsla(211, 53%, 11%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
}

.hero-section {
    padding: 70px 0 50px;
    background-image: url(/images/hero-2.png), url(/images/hero-3.png), url(/images/hero-6.png), url(/images/hero-5.png), url(/images/hero-extras.svg);
    background-position: left top, right top, left bottom, right bottom, center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 300px, 300px, 300px, 250px, cover;
}

.hero-section h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 110px;
    color: white;
}

.hero-section h2 {
    font-family: var(--secondary-font);
    font-size: 30px;
    color: var(--highlight-colour);
    font-weight: 300;
}

.hero-section h2 span {
    color: white;
}

.hero-section button, .home-about-me button {
    display: block;
    margin: 50px auto;
    padding: 15px 30px;
    border: 2px solid #CFA86D;
    border-radius: 4px;
    font-weight: 500;
    background-color: transparent;
    color: var(--highlight-colour);
    box-shadow: 1px 1px 10px var(--highlight-colour);
}

.hero-section button:hover, .home-about-me button:hover {
    background-color: var(--highlight-colour);
    color: white;
    transition: ease-in-out 200ms;
}

.hero-section-space {
    padding: 70px 0;
    margin: 40px 0;
}

.home-about-me {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/home-about-background.jpg);
    background-position: center;
    background-size: cover;
}

.home-about-me a {
    text-decoration: none;
}

.popular-recipes {
    background: linear-gradient(90deg, hsla(211, 53%, 11%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
}

.popular-recipes h2, .homepage-reviews h2 {
    font-family: var(--primary-font);
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.popular-recipes img {
    width: 450px;
}

.popular-recipes img:hover {
    opacity: 0.5;
    margin-bottom: 15px;
    box-shadow: 1px 1px 20px var(--highlight-colour);
    transition: ease-in-out 200ms;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-family: var(--secondary-font);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.homepage-reviews {
    padding-top: 40px;
    padding-bottom: 110px;
    font-family: var(--secondary-font);
    background-color: #1b263b;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/review-section-background.jpg);
    background-position: center;
    background-size: cover;
}

.homepage-reviews img {
    width: 400px;
    border: 1px solid white;
    border-radius: 10px;
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url(/images/home-about-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 80px;
}

.about-me {
    max-width: 1000px;
}

.about-me h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 55px;
    color: var(--highlight-colour);
}

.about-me h2 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.about-me p {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    color: white;
}

.about-me-button {
    padding: 10px 20px;
    font-family: var(--secondary-font);
    font-size: 15px;
    color: var(--highlight-colour);
    background-color: transparent;
    border: 1px solid var(--highlight-colour);
    border-radius: 4px;
    box-shadow: 1px 1px 5px var(--highlight-colour);
}

.about-me-button:hover {
    background-color: var(--highlight-colour);
    color: white;
    transition: ease-in-out 200ms;
}

.favourite-dishes {
    padding: 70px 0;
}

.favourite-dishes h2 {
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.favourite-dishes h3 {
    font-size: 18px;
    font-family: var(--secondary-font);
    color: var(--highlight-colour);
}

.favourite-dishes img {
    width: 400px;
}

.menu-hero {
    padding: 140px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/menu-page-header.jpg);
}

.menu-hero h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 60px;
    color: white;
}

#menu-hero-standout {
    color: var(--highlight-colour);
}

.menu-hero li {
    display: inline-block;
    padding: 0 50px;
}

.menu-hero a {
    color: var(--highlight-colour);
    text-decoration: none;
    border: 1px solid var(--highlight-colour);
    padding: 5px 10px;
    font-size: 13px;
    font-family: var(--secondary-font);
}

.menu-hero a:hover {
    color: white;
    transition: ease-in-out 200ms;
}

.menu-list h2 {
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--highlight-colour);
    padding-top: 30px;
}

.menu-list p {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    color: white;
}

#chef-portrait-home {
    width: 500px;
    border-radius: 15px;
    border: 3px solid var(--highlight-colour);
    margin-bottom: 45px;
}

#chef-portrait-about {
    width: 400px;
    border-radius: 7px;
}

@media (max-width:500px) {
    .hero-section {
        padding: 20px 0 10px;
        background-size: 150px, 150px, 150px, 120px, cover;
        h1 {
        font-size: 80px;
        }
        h2 {
        font-size: 20px;
        }
    }

    .hero-section-space {
        padding: 30px 0;
        margin: 20px 0;
    }

    .home-about-me button {
        margin-top: -10px;
    }

    .popular-recipes h2, .homepage-reviews h2 {
        font-size: 30px;
        padding: 0 20px;
    }

    .popular-recipes {
        img {
            width: 250px;
            height: 300px;
        }
    }

    .image-container {
        display: block;
        margin: 0 60px;
    }

    .text-overlay {
        font-size: 15px;
        left: 50%;
        text-align: center;
    }

    .homepage-reviews {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .homepage-reviews img {
        width: 250px;
        display: block;
        margin: 0 auto;
    }

    .about-me {
        h1 {
            text-align: center;
            font-size: 32px;
        }

        h2 {
            text-align: center;
            font-size: 18px;
        }

        p {
            text-align: center;
            font-size: 12px;
            padding: 0 15px;
        }
    }

    .about-me-button {
       display: block;
       margin: 0 auto;
    }

    .favourite-dishes h3 {
        font-size: 15px;
    }

    .favourite-dishes img {
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    .favourite-dishes h2 {
        font-size: 25px;
    }

    #chef-portrait-home {
        width: 300px;
        display: block;
        margin: -15px auto 50px;
    }

    #chef-portrait-about {
        width: 300px;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width:501px) {
    .text-overlay {
        font-size: 20px;
        left: 40%;
        top: 85%;
    }

    .popular-recipes h2, .homepage-reviews h2 {
        font-size: 50px;
    }

    #chef-portrait-home {
        margin: 40px auto 50px;
    }
}