:root {
    --primary-font: "Merriweather", serif;
    --secondary-font: "Montserrat",
        sans-serif;
    --primary-color: #0d1b2a;
    --secondary-color: #1b263b;
    --highlight-colour: #CFA86D;
}

body {
    background: linear-gradient(90deg, hsla(211, 53%, 11%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
}

.menu-hero {
    padding: 140px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/menu-page-header.jpg);
}

.menu-hero h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 60px;
    color: white;
}

#menu-hero-standout {
    color: var(--highlight-colour);
}

.menu-hero li {
    display: inline-block;
    padding: 0 50px;
}

.menu-hero a {
    color: var(--highlight-colour);
    text-decoration: none;
    border: 1px solid var(--highlight-colour);
    padding: 5px 10px;
    font-size: 13px;
    font-family: var(--secondary-font);
}

.menu-hero a:hover {
    color: white;
    transition: ease-in-out 200ms;
}

.menu-list h2 {
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--highlight-colour);
    padding-top: 30px;
}

.menu-list p {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.menu-list-appetizers,
.menu-list-main-courses,
.menu-list-desserts,
.menu-list-cocktails {
    max-width: 900px;
}

.menu-list-appetizers li,
.menu-list-main-courses li,
.menu-list-desserts li,
.menu-list-cocktails li {
    display: block;
    color: var(--highlight-colour);
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 2.3;
}

.menu-list-appetizers img,
.menu-list-main-courses img,
.menu-list-desserts img,
.menu-list-cocktails img {
    width: 550px;
}

#section-divider {
    width: 400px;
    display: block;
    margin: 0 auto;
}

@media (max-width:900px) {
    .menu-hero h1 {
        font-size: 40px;
    }
    
    .menu-hero li {
        display: block;
        margin: 0 0 0 -15px;
        padding: 10px 0;
    }
    
    .menu-hero {
        padding: 100px 0;
    }
    
    .menu-list {
        h2 {
            font-size: 25px;
        }
    
        p {
            font-size: 10px;
            margin-bottom: 30px;
            padding: 0 20px;
        }
    
        li {
            display: block;
            margin: 0 0 0 -20px;
            font-size: 15px;
            text-align: center;
        }
    
        img {
            display: block;
            margin: 0 auto;
        }
    }
}