:root {
    --primary-font: "Merriweather", serif;
    --secondary-font: "Montserrat",
        sans-serif;
    --primary-color: #0d1b2a;
    --secondary-color: #1b263b;
    --highlight-colour: #CFA86D;
}

body {
    background: linear-gradient(90deg, hsla(211, 53%, 11%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
}

.menu-hero {
    padding: 140px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/menu-page-header.jpg);
}

.menu-hero h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 60px;
    color: white;
}

#menu-hero-standout {
    color: var(--highlight-colour);
}

.menu-hero li {
    display: inline-block;
    padding: 0 50px;
}

.menu-hero a {
    color: var(--highlight-colour);
    text-decoration: none;
    border: 1px solid var(--highlight-colour);
    padding: 5px 10px;
    font-size: 13px;
    font-family: var(--secondary-font);
}

.menu-hero a:hover {
    color: white;
    transition: ease-in-out 200ms;
}

.menu-list h2 {
    font-family: var(--primary-font);
    font-size: 30px;
    color: var(--highlight-colour);
    padding-top: 30px;
}

.menu-list p {
    font-family: var(--secondary-font);
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.menu-list-appetizers,
.menu-list-main-courses,
.menu-list-desserts,
.menu-list-cocktails {
    max-width: 900px;
}

.menu-list-appetizers li,
.menu-list-main-courses li,
.menu-list-desserts li,
.menu-list-cocktails li {
    display: block;
    color: var(--highlight-colour);
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 2.3;
}

.menu-list-appetizers img,
.menu-list-main-courses img,
.menu-list-desserts img,
.menu-list-cocktails img {
    width: 550px;
}

#section-divider {
    width: 400px;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: var(--highlight-colour);
}

nav a {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
}

.nav-container {
    margin: 0 20px;
}

.active {
    font-weight: 600;
}

#navbarNav {
    justify-content: end;
}

footer .email-link a {
    display: flex;
    justify-content: center;
    color: var(--highlight-colour);
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

footer .email-link a:hover {
    color: white;
    transition: all 100ms ease-in-out;
}

footer .social-links {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

footer .social-links a {
    margin: 0 30px;
    color: var(--highlight-colour);
}

.contact-box {
    border: 1px solid var(--highlight-colour);
    background-color: var(--highlight-colour);
    border-radius: 10px;
    justify-content: space-between;
    margin: 80px 0;
    padding: 30px 0;
}

footer h3 {
    color: white;
    font-family: var(--primary-font);
    font-size: 35px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 20px;
}

footer p {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 500;
    margin-left: 100px;
    margin-top: 10px;
}

footer .btn {
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin-top: 33px;
    margin-right: 100px;
}

footer .btn:hover {
    background-color: transparent;
    transition: all 100ms ease-in-out;
    border: 2px solid var(--primary-color);
}

footer .btn a {
    text-decoration: none;
    color: white;
}

footer .btn a:hover {
    color: var(--primary-color);
}

.closing-line {
    font-family: var(--secondary-font);
    font-size: 17px;
    font-weight: 400;
    color: var(--highlight-colour);
    text-align: center;
    display: block;
    margin: 0 auto;
}

.closing-line a {
    color: white;
}

.closing-line a:hover {
    color: aqua;
    transition: all 100ms ease-in-out;
}

.closing-line a:visited {
    color: white;
}

@media (max-width:900px) {
    .menu-hero h1 {
        font-size: 40px;
    }
    
    .menu-hero li {
        display: block;
        margin: 0 0 0 -15px;
        padding: 10px 0;
    }
    
    .menu-hero {
        padding: 100px 0;
    }
    
    .menu-list {
        h2 {
            font-size: 25px;
        }
    
        p {
            font-size: 10px;
            margin-bottom: 30px;
            padding: 0 20px;
        }
    
        li {
            display: block;
            margin: 0 0 0 -20px;
            font-size: 15px;
            text-align: center;
        }
    
        img {
            display: block;
            margin: 0 auto;
        }
    }

    .nav-container {
        margin: 0;
    }

    .closing-line {
        font-size: 12px;
        margin: 20px 0;
    }
}